$corPrimaria: #ffffff;
$corSecundaria: #3168ff;

@font-face{
    font-family: 'TitilliumWeb-SemiBold';
    src: url('../../fonts/TitilliumWeb-SemiBold.ttf');
}

*{
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'TitilliumWeb-SemiBold';
}

header{
    width: 100vw;
    margin: 0 auto;
    ul{
        z-index: 9999;
        width: 100vw;
        text-align: center;
        display: inline-table;
        margin: 0 auto;
        position: fixed;
        text-transform: uppercase;
        li{
            display: inline-table;
            a{
                font-size: 1em;
                display: block;
                color: $corPrimaria;
                padding: 95px 26px 0 0;
            }
        } 
    }  
}

.banner{
    max-width: 100%;
    max-height: 650px;
    padding: 0;
    img{
        width: 100%;
        min-height: 650px;
    }
}

.presentation{
    p{
        text-transform: uppercase;
        position: relative;
        margin: 0 auto;
        height: auto;
        width: 250px;
        margin-top: -60px;
        margin-bottom: 10px;
        color: $corPrimaria;
    }
    .bg-video{
        position: relative;
        margin: 0 auto;
        height: 378px;
        width: 528px;
        margin-top: -20px;
        border-radius: 5px;
        border: solid 14px $corPrimaria;
        background-color: rgb(104, 104, 104);
    }
}
.about{
    margin-top: 25px;
    margin-bottom: 25px; 
    
    .textAbout{
        color: grey;
        p{
            width: 400px;
        }
    }
    .lemonText p{
        width: 150px;
    }

    .eyeText p{
        width: 100px;
    }
    .lemonText, .eyeText{
        background-color: grey;
        height: 192px;
        width: 100%;
        
        p{
            padding-top: 20px;
            margin: 0 auto;
            color: $corPrimaria;
            text-align: center;
        }
    }
}

.contact{
    .col-sm-7{
        height: 400px;
        background-color: grey;
    }
}

footer{
    width: 100%;
    margin: 0 auto;
    background-color:$corSecundaria;
    p{
        padding: 12px 0;
        text-align: center;
        color: $corPrimaria;
    }
}