@font-face {
  font-family: 'TitilliumWeb-SemiBold';
  src: url("../../fonts/TitilliumWeb-SemiBold.ttf");
}

/* line 9, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'TitilliumWeb-SemiBold';
}

/* line 17, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
header {
  width: 100vw;
  margin: 0 auto;
}

/* line 20, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
header ul {
  z-index: 9999;
  width: 100vw;
  text-align: center;
  display: inline-table;
  margin: 0 auto;
  position: fixed;
  text-transform: uppercase;
}

/* line 28, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
header ul li {
  display: inline-table;
}

/* line 30, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
header ul li a {
  font-size: 1em;
  display: block;
  color: #ffffff;
  padding: 95px 26px 0 0;
}

/* line 40, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.banner {
  max-width: 100%;
  max-height: 650px;
  padding: 0;
}

/* line 44, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.banner img {
  width: 100%;
  max-height: 650px;
}

/* line 51, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.presentation p {
  text-transform: uppercase;
  position: relative;
  margin: 0 auto;
  height: auto;
  width: auto;
  text-align: center;
  margin-top: -100px;
  margin-bottom: 10px;
  color: #ffffff;
}

/* line 62, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.presentation .bg-video {
  position: relative;
  margin: 0 auto;
  height: 378px;
  width: 528px;
  margin-top: -65px;
  border-radius: 5px;
  border: solid 14px #ffffff;
  background-color: #686868;
}

/* line 73, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.about {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* line 77, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.about .text-about {
  color: grey;
}

/* line 79, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.about .text-about p {
  width: 400px;
}

/* line 83, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.about .lemon-text p {
  width: 150px;
}

/* line 87, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.about .eye-text p {
  width: 100px;
}

/* line 90, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.about .lemon-text, .about .eye-text {
  background-color: grey;
  height: 192px;
  width: 100%;
}

/* line 95, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.about .lemon-text p, .about .eye-text p {
  padding-top: 20px;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
}

/* line 105, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.contact .col-sm-7 {
  height: 400px;
  background-color: grey;
}

/* line 109, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.contact h1 {
  text-transform: uppercase;
}

/* line 112, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.contact .contact-form {
  height: auto;
}

/* line 114, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.contact .contact-form label {
  position: relative;
  top: 5px;
  font-size: 0.7em;
  color: grey;
}

/* line 120, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.contact .contact-form input {
  outline: none;
  color: #696969;
  width: 100%;
  border-radius: 0;
  border-width: 0 0 1px;
  border-bottom-color: grey;
  margin-bottom: 20px;
}

/* line 129, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.contact .contact-form input:focus {
  box-shadow: none;
  border-bottom: 2px solid #3168ff;
}

/* line 133, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
.contact .contact-form button {
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 60px;
  border: none;
  border-radius: 20px;
  background-color: #3168ff;
  float: right;
}

/* line 145, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
footer {
  width: 100%;
  margin: 0 auto;
  background-color: #3168ff;
}

/* line 149, C:/Users/Barcelos/Desktop/Projetos/teste-designio/src/sass/scss/style.scss */
footer p {
  padding: 12px 0;
  text-align: center;
  color: #ffffff;
}

/*# sourceMappingURL=../css/style.map */